@-we-palette{

    @global{
        color: #2C3E50;                
        color: #E74C3C;
        color: #0D84FB;
        color: #78C1DD;
        color: #8AEA5D;
        color: #E3E3E3;
     
    }
}